[submodule "regex"]
	path = regex
	url = https://github.com/rust-lang/regex.git
[submodule "thunderchez"]
	path = thunderchez
	url = https://github.com/ovenpasta/thunderchez.git
[submodule "chez-finalize"]
	path = chez-finalize
	url = https://github.com/macdavid313/chez-finalize.git
